# from Leonard
- normal swallowing dataset
- not clear what is the data to be used -> also no patient information
- prob. not useful for final dataset, just experimenting
Folder structure:
- ForeBack folder
   - mp4 files and some have .mask files as well
  - 800 files
- Normals folder
    - mp4 files and some have .mask files as well
    - 70 files
    - readme file:
        -  Here's a link to the young normal fluoros.  Typically include a 1ml, 3ml 3-5 paste and 20+ml bolus.......some have another 1ml.  Subjects are also saying vowel sounds at the end......think it's obvious these aren't swallows! Hope they're helpful....let me know if you have questions.
- Normals_elderly folder
   - avi files and some mp4 files
   - 70 files
- Swallow_Events folder
   - mp4 files and some have .mask files as well
   - 1,300 files
- video_frame_list.xlsx

# from_Kopp
TODO:
- [ ] analyze how many patients we have
- [ ] find way to identify right perspective (UNET)
-
- nice disphyagia dataset with patient information
- difficult data since swallows are not cut
- lots of perspectives (up to 20)-> only one needed -> needs to be identified
- kind of messy
- different perspectives usually per patient: lateral, frontal, zoomed in lateral and movement doing scan
- observation: per patient we have multiple perspectives (in seperate folders) with one video per perspective; mostly the first folder (ordered by asc) has the correct perspective we need. So one could try just parsing the first folder of each patient; for better results one could also run Classification CNN on the first frame of each video to identify the correct perspective and choose the one with highest classfication score
- per patient, per video, we have multiple perspectives: in a perspective we can have a a dicom video or lots of dicom frames
    - use video frames folder
Folder structure:
- patient id dcm folders
   - 560 patient identifiers
  - every patient folder can have multiple subfolders/videos with dcm file
- Diagnosen und Prozeduren folder
   - Diagnosen_psuedonymisiert.csv
      -  Columns: PATIENT_ID	FALL_ID	ICD_CODE	DIAGNOSE_DATUM	GEWISSHEIT_ID
      - 3,742 rows
  - Prozeduren_pseudonymisiert.csv
      - Columns: PATIENT_ID	FALL_ID	OPS_CODE PROZEDUR_DATUM
      - 1,523 rows
- extracted_videos_and_images folder
   - extracted mp4 files from dcm files per video id
- Kopp_Data_Overview.xlsx
   - columns:
      - Birth Year
      - Age
      - Sex
      - Manufacturer
      - Manufacturer's Model Name
      - Device Serial Number
      - Image/ Video Identifier
      - Comments about the Image/ Video
    -  3,018 rows
    - prob. just extracted info from dicom files
- README.md
   - mentions test sample ids

In [6]:
# from koop

import pandas as pd

path = r"\\fauad.fau.de\shares\ANKI\Projects\Swallowing\Data\from_Kopp\Kopp_Data_Overview.xlsx"
# load the data
df_kopp = pd.read_excel(path)
df_kopp.head()

,PatID,Acquisition Date,Accession Number,Protocol Name_Acquisition Number,SOP Instance UID,Birth Year,Age,Sex,Manufacturer,Manufacturer's Model Name,Device Serial Number,Image/ Video Identifier,Comments about the Image/ Video
0,1000159621,20140701,3269432939558174,Oesoph._1,1.2.276.0.76.3.1.56.5.6.1.31078117531770503303...,1945,068Y,M,Siemens,AXIOM-Artis,57031,1000159621_1,NaN
1,1000159621,20140701,3269432939558174,Oesoph._2,1.2.276.0.76.3.1.56.5.6.1.32279215018154090168...,1945,068Y,M,Siemens,AXIOM-Artis,57031,1000159621_2,NaN
2,1005454012,20110208,2366879155568522,Oesoph._1,1.2.276.0.76.3.1.56.5.6.1.97540909922323301728...,1951,059Y,M,Siemens,AXIOM-Artis,57031,1005454012_1,NaN
3,1005454012,20110208,2366879155568522,Oesoph._2,1.2.276.0.76.3.1.56.5.6.1.26312558241286149973...,1951,059Y,M,Siemens,AXIOM-Artis,57031,1005454012_2,NaN
4,1005454012,20110208,2366879155568522,Oesoph._4,1.2.276.0.76.3.1.56.5.6.1.16702611579908065606...,1951,059Y,M,Siemens,AXIOM-Artis,57031,1005454012_3,NaN

In [4]:
#get unique patID count
df_kopp['PatID'].nunique()

560

In [7]:
df_kopp['PatID'].value_counts()

PatID
2979520959    210
2113244667    177
2662761604     94
5228260309     75
2860948419     22
             ...
2301343701      1
1980515547      1
2216606813      1
2229969900      1
2104229340      1
Name: count, Length: 560, dtype: int64